---
import "@scss/main.scss";
import { getImage } from "astro:assets";
import faviconSrc from "@images/coming-soon.jpg";

interface Object {
  [key: string]: string;
}

const siteUrl: string = "https://ht-code.jp/";
const favicon = {
  default: await getImage({ src: faviconSrc, width: 32, format: "webp" }),
  large: await getImage({ src: faviconSrc, width: 192, format: "webp" }),
  apple: await getImage({ src: faviconSrc, width: 160, format: "webp" }),
};

interface Props {
  meta: Object;
  ogp: Object;
  schema: string;
}

const { meta, schema, ogp } = Astro.props;
---

<!doctype html>
<html lang="ja" style="--header-height: 74px">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-######"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G--######");
    </script>
    <!-- End Global site tag (gtag.js) - Google Analytics -->
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title>{meta.title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content={meta.description} />
    {
      // ogpの出力
      Object.entries(ogp).map(([key, value]) => <meta property={"og:" + key} content={value} />)
    }
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image/webp+xml" href={favicon.default.src} sizes="32x32" />
    <link rel="icon" href={favicon.large.src} sizes="192x192" />
    <link rel="apple-touch-icon" href={favicon.apple.src} />
    <script type="application/ld+json" set:html={schema} />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href={siteUrl + "sitemap-index.xml"} />
    <!-- plug in -->
  </head>
  <body>
    <slot />
    { /** scroll-observer */}
    <div id="scroll-observer" aria-hidden="true" class="pointer-events-none invisible absolute top-full"></div>
  </body>
  <script>
    import "../js/main.ts";
  </script>
</html>
<style lang="scss"></style>
